.wrap {
  border: 1px solid aquamarine;
  padding: 50px 100px;
  margin: 100px auto;
  gap: 40px;
}

.btn {
  padding: 15px 50px;
  font-size: 24px;
  color: darkred;
}

.time-wrap {
  padding: 25px 50px;
  border:1px solid black;
  height: 100px;

}

